

#myBirthday{
  background-color: transparent;
  border: 2px solid black;
  margin-right: 1vw;
  border-radius: 0.5vw;
}

#submit:hover{
  color: white;
  background-color: black;
  border: 2px solid white;  
}


#submit p:hover{
  color: white;
}
